:root {
  /*<------------------------------Body fonts------------------------------------>*/
  --ff-body-normal: "BasisGrotesquePro_Regular", serif;
  --ff-body-bold: "BasisGrotesquePro_Bold", cursive;
  --ff-body-light: "BasisGrotesquePro_Light", cursive;
  /*<------------------------------Base Color Palette------------------------------------>*/
  --clr-primary-100: rgb(0, 174, 239);
  --clr-primary-200: rgb(100, 210, 243);
  --clr-primary-300: rgb(17, 62, 108);
  --clr-primary-400: rgb(23, 166, 151);
  --clr-primary-500: rgb(116, 201, 192);
  --clr-primary-600: rgb(23, 166, 151);
  --clr-primary-700: rgb(116, 201, 192);
  /*<------------------------------------------------------------------>*/
  --fs-base: 1rem;
  /*<------------------------------Extra Color Palette------------------------------------>*/
  --clr-tertiary: #f148fb;
  --clr-tertiary-500: #662269;
  --clr-accent: rgb(0, 174, 239);
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-gradient: linear-gradient(
          150deg, rgb(0 23 65),
          rgb(0 42 102) 50%,
          rgb(0 23 65));
}

/*<------------------------------Global rules------------------------------------>*/
*,
*::before,
*::after {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a:active,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/*<------------------------------scrollbar------------------------------------>*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent);
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
  color-stop(.5, rgba(255, 255, 255, .2)),
  color-stop(.5, transparent), to(transparent));
}

/*<------------------------------body------------------------------------>*/
body {
  font-family: var(--ff-body-normal);
  background: var(--clr-gradient);
  color: var(--clr-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*<------------------------------font face------------------------------------>*/

@font-face {
  font-family: 'BasisGrotesquePro_Light';
  src: local('MyFont'), url("/src/assets/font/BasisGrotesquePro-Light.ttf");
}

@font-face {
  font-family: 'BasisGrotesquePro_Bold';
  src: local('MyFont'), url("/src/assets/font/BasisGrotesquePro-Bold.ttf");
}

@font-face {
  font-family: 'BasisGrotesquePro_Regular';
  src: local('MyFont'), url("/src/assets/font/BasisGrotesquePro-Regular.ttf");
}


